<header role="banner" class="bg-primary sticky top-0 z-50 px-3 py-0 shadow-md">
  <nav class="nav-container" role="navigation" aria-label="Main navigation">
    <div class="flex justify-between items-center">
      <a routerLink="/" aria-label="Go to homepage">
        <img src="pwd-white.webp" alt="Site logo" class="h-5 rounded-full cursor-pointer" />
      </a>
      <ul id="main-menu" class="hidden md:flex" role="menubar">
        @for(section of sections(); track section) {
        <li class="p-4">
          <a [routerLink]="[]" [fragment]="section" class="hover:underline" role="menuitem">
            {{ section | title }}
          </a>
        </li>
        }
      </ul>
      <a
        href="cv.pdf"
        rel="noreferrer noopener"
        target="_blank"
        aria-label="Download CV"
        class="bg-rose-500 rounded-full px-4 py-1 border-rose-800 border-4"
      >
        Download CV
      </a>
    </div>
  </nav>
</header>
