<div
  class="flex w-full h-screen flex-col md:flex-row gap-5 px-5 md:px-10 items-center justify-center text-white relative"
>
  <div class="border-2 border-teal-500 rounded-full w-xs sm:w-lg md:w-xl lg:w-lg xl:w-xl 2xl:w-2xl">
    <img src="profile.jpeg" alt="logo" class="w-full h-full rounded-full" />
  </div>
  <div class="flex flex-col">
    <div>Hello!, I am</div>
    <div>David Pardo Corzo</div>
    <div>Senior FE</div>
    <div>
      Senior front-end, web application developer and UX designer. Enthusiastic and motivated
      self-learning in Information Technology and Software Engineering. Extended experience in Cloud
      Computing, DevOps, and Web Development.
    </div>
    <div>PWD</div>
    <div class="flex flex-row items-center space-x-4 py-5">
      <div>IN</div>
      <div>GH</div>
      <div>EM</div>
      <div>WA</div>
    </div>
  </div>
</div>
