<div
  class="flex w-full h-screen flex-col md:flex-row gap-5 px-5 md:px-10 items-center justify-center relative"
>
  <div
    class="border-2 border-teal-500 rounded-[50%] h-xs sm:h-lg md:h-xl lg:h-lg xl:h-xl 2xl:h-2xl"
  >
    <img src="profile.jpeg" alt="profile-photo" class="w-full h-full rounded-[50%]" />
  </div>
  <div class="flex flex-col">
    <h1 class="text-xl text-gray-400">Hello!, I am</h1>
    <h1 class="text-2xl font-bold">David Pardo Corzo</h1>
    <om-typewriter
      [writeSpeed]="30"
      [deleteDelay]="1000"
      class="text-xl font-bold text-rose-300"
      [words]="experience()"
    ></om-typewriter>
    <p class="text-md font-light text-gray-400 text-justify">
      Senior Front-End Developer and UX Designer with extensive experience in web application
      development, cloud computing, and DevOps. Passionate about creating intuitive digital
      experiences, learning the latest web standards, and expanding into full-stack development
      while continuously advancing expertise in IT and software engineering.
    </p>
    <span class="font-link text-2xl font-bold">{{ pwd() }}</span>
    <div class="flex flex-row items-center space-x-4 py-3 text-2xl">
      <a href="https://www.linkedin.com/in/david-julian-pardo/" target="_blank"
        ><i class="fa-brands fa-square-linkedin"></i
      ></a>
      <a href="https://github.com/pantro14" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="mailto:info@pardowebdeveloper.com" target="_blank"
        ><i class="fa-solid fa-envelope"></i
      ></a>
      <a href="https://wa.me/31625083501" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
  </div>
</div>
